@font-face {
    font-family: Beyonders;
    src: url('../fonts/Beyonders.ttf');
}

body {
    background-image: url('../img/main-bg.jpg'); /*switch to gif when necessary*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}

nav.navbar .navbar-brand, a.nav-link {
    color: darkblue !important;
    font-family: Beyonders !important;
}

h1, h2, h3, h4 {
    font-family: Beyonders !important;
}

div.card {

}

div.card-header {
    color: white;
    background-color: #5893F5;
    font-family: Beyonders !important;
}

div.card-header-error {
    color: white;
    background-color: #BB0026;
    font-family: Beyonders !important;
}

div.card-border {

}

.top-buffer {
    margin-top:20px !important;
}

button.btn, a.btn, .stat-label {
    font-family: Beyonders !important;
}

.stat-label {
    font-size: 0.7em;
}

.muscle, .power, .speed {
    border: 1px solid black !important;
    background-color: lightcoral !important;
    color: white !important;
    text-align: center;
}

.head, .sense, .analytics {
    border: 1px solid black !important;
    background-color: greenyellow !important;
    text-align: center;
}

.heart, .fortitude, .connection {
    border: 1px solid black !important;
    background-color: violet !important;
    color: white !important;
    text-align: center;
}

.soul, .identity, .spirituality {
    border: 1px solid black !important;
    background-color: lightskyblue !important;
    color: white !important;
    text-align: center;
}

img.profile-img {
    width: 100%;
    aspect-ratio: 1 / 1;  /* defining the aspect ratio of the image */
    object-fit: cover;    /* making sure the image isn't distorted */
}

input.pw {
    -webkit-text-security: disc;
    text-security: disc;
}